* {
  padding: 0;
  margin: 0;
  background-color: rgb(17, 17, 17);
  color: whitesmoke;
  font-family: sans-serif;
}

.title {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.all {
  display: flex;
}

.a {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  animation: flip 1s alternate infinite ease-in-out;
}

.b {
  width: 50%;
  height: 90vh;
  align-items: center;
}

.loginbox {
  width: 30%;
  height: 50vh;
  border: 1px solid rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  padding: 8rem;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.input {
  width: 72%;
  height: 4.2vh;
  margin-left: 2.3rem;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.logodiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logobox {
  width: 20%;
}

.divsignup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divlogin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  width: 40%;
  height: 4vh;
  margin-top: 2rem;
  background-color: rgb(129, 129, 129);
  font-size: 17.5px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}

.btn1 {
  width: 60%;
  height: 5vh;
  margin-top: 2rem;
  background-color: rgb(255, 32, 32);
  font-size: 17.5px;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.acctext {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 17.5px;
  margin-top: 2rem;
  color: rgb(177, 177, 177);
  display: flex;
}

.errordiv {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3vh;
}

.errormessage {
  color: red;
  font-size: 17.5px;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 1660px) {
  .all {
    flex-direction: column;
    align-items: center;
  }

  .a {
    margin-left: 2rem;
    height: 50vh;
  }

  .logo {
    width: 20%;
  }

  .b {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .loginbox {
    width: 20%;
    height: 50vh;
    border: 1px solid rgb(129, 129, 129);
  }

  .errordiv {
    width: 100%;
  }

  .errormessage {
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin-left: 1rem;
  }

  .inputs {
    width: 100%;
  }

  .input {
    width: 100%;
    height: 3.5vh;
    border: none;
    margin: 0;
    font-size: 17px;
  }

  .btn {
    width: 45%;
    font-weight: bold;

    font-size: 15px;
  }

  .acctext {
    width: 100%;
  }

  .text {
    width: 100%;
    font-size: 17px;
    justify-content: center;
    display: flex;
  }

  .btn1 {
    width: 65%;
    font-size: 15px;
    font-weight: bold;
    height: 5vh;
  }
}

@media screen and (max-width: 1000px) {
  .a {
    width: 100%;
    margin: 0;
  }

  .logo {
    width: 20%;
  }

  .b {
    width: 70%;
    margin: 0;
    align-items: center;
  }

  .loginbox {
    width: 70%;
    border: 1px solid rgb(129, 129, 129);
    margin: 0;
  }

  .btn {
    width: 38%;
    font-size: 14px;
  }

  .btn1 {
    height: 5vh;
    width: 50%;
  }

  .inputs {
    width: 100%;
    align-items: center;
  }

  .input {
    width: 60%;
    margin-left: 0.1rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  .b {
    width: 100%;
  }

  .acctext {
    width: 100%;
  }

  .input {
    font-size: 12px;
  }

  .loginbox {
    border: none;
  }

  .text {
    font-size: 10px;
    font-weight: 900;
  }

  .errordiv {
    width: 100%;
  }

  .errormessage {
    font-size: 8px;
    font-weight: 900;
  }

  .btn {
    width: 40%;
    font-size: 13px;
  }

  .btn1 {
    width: 47%;
    font-size: 12px;
  }
}
